.banner {
	margin: 90px 0 30px;
	text-align: center;
}

.banner-pic {
	width: 260px;
	height: 80px;
	margin: 0 auto;
	background: url(/static/register/core/img/logo.png) no-repeat center center;
	background-size: cover;
}

.input-group {
	margin-bottom: 10px;
}

p {
	margin-bottom: 0;
}
