<!doctype html>
<html>
	<head>
	<?php include('head.html');?>
		<link rel="stylesheet" type="text/css" href="/static/core/css/common.css">
		<link rel="stylesheet" type="text/css" href="/static/core/bootstrap-3.3.2-dist/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/static/graduation/admin/css/commend.css">
	</head>
	<body>
	<?php include('navbar.html');?>
	<div class="container-fluid">
	<div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="<?=site_url('admin/commend');?>">添加表彰 </a></li>
            <li><a href="<?=site_url('admin/commend_list');?>">表彰列表</a></li>
            <li class="active"><a href="<?=site_url('admin/act_list');?>">活动列表<span class="sr-only">(current)</span></a></li>
            <li><a href="<?=site_url('admin/act');?>">添加活动</a></li>
            <li><a href="<?=site_url('admin/news_list');?>">新闻列表</a></li>
            <li><a href="<?=site_url('admin/news');?>">添加新闻</a></li>
            <li><a href="<?=site_url('admin/guestbook_list');?>">留言</a></li>
          </ul>
        </div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h3 class="page-header">活动列表</h3>
          	<div class="blog-post">
				<div class="list">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td>活动名称</td>
						<td>创建时间</td>
						<td>是否发布</td>
						<td>操作</td>
					</tr>
		  		<?php if (!empty($list)) {?>
		  			<?php foreach ($list as $li) {?>
					<tr>
						<td><a href="<?php echo site_url('admin/act_detail') . '?aid=' . $li['id']?>"><?php echo $li['act_name'];?></a></td>
						<td><?php echo date('Y-m-d', $li['ctime']);?></td>
						<td><?php if ($li['is_active'] == 1) { echo '已发布';} else { echo '未发布';}?></td>
						<td>
						<span><a href="<?php echo site_url('admin/act_detail') . '?aid=' . $li['id']?>">修改</a></span>
						<span><a href="<?php echo site_url('admin/sign_list') . '?aid=' . $li['id']?>">报名列表</a></span>
						</td>
					</tr>
					<?php } ?>
				</ul>
				<?php }?>
			<ul style="text-align: center;"><?php echo $page;?></ul>
				</table>
				</div>
			</div>
		</div>
	</div><!-- end .row -->
	</div> <!-- end .container-fluid -->

	<script src="/static/core/js/common.js"></script>
	<script src="/static/graduation/admin/js/commend.js"></script>
	</body>
</html>
