<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>主题名字</title>
		<link rel="stylesheet" type="text/css" href="/static/core/css/common.css">
		<link rel="stylesheet" type="text/css" href="/static/core/bootstrap-3.3.2-dist/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/static/graduation/admin/css/commend.css">
	</head>
	<body>
	<?php include('navbar.html');?>
	<div class="container-fluid">
	<div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li ><a href="<?=site_url('admin/commend');?>">添加表彰 </a></li>
            <li><a href="<?=site_url('admin/commend_list');?>">表彰列表</a></li>
            <li><a href="<?=site_url('admin/act_list');?>">活动列表</a></li>
            <li><a href="<?=site_url('admin/act');?>">添加活动</a></li>
            <li><a href="<?=site_url('admin/news_list');?>">新闻列表</a></li>
            <li><a href="<?=site_url('admin/news');?>">添加新闻</a></li>
            <li class="active"><a href="<?=site_url('admin/guestbook_list');?>">留言<span class="sr-only">(current)</span></a></li>
          </ul>
        </div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h3 class="page-header">修改留言</h3>
			<form class="form-horizontal" enctype="multipart/form-data" action="<?=site_url('admin/guestbook_edit')?>" method="post" id="form1">
  			<div class="form-group">
    			<label for="inputName2" class="col-sm-2 control-label">姓名</label>
    			<div class="col-sm-4">
      				<input type="text" name="name" class="form-control" id="name" value="<?php echo isset($name) ? $name : ''?>" readonly>
				</div>
			</div>
  			<div class="form-group">
    			<label for="inputName2" class="col-sm-2 control-label">email</label>
    			<div class="col-sm-10">
					<input class="form-control" name="email" rows="4" id="email" value="<?php echo isset($email) ? $email : ''?>" readonly>
				</div>
			</div>
  			<div class="form-group">
    			<label for="inputName2" class="col-sm-2 control-label">留言内容</label>
    			<div class="col-sm-10">
					<textarea class="form-control" name="text" rows="4" id="text" ><?php echo isset($text) ? $text : ''?></textarea>
				</div>
			</div>
  			<div class="form-group">
    			<label for="inputName2" class="col-sm-2 control-label">时间</label>
    			<div class="col-sm-10">
					<input class="form-control" name="ctime" rows="4" id="ctime" value="<?php echo isset($ctime) ? $ctime : ''?>" readonly>
				</div>
			</div>
			<?php if (isset($gid)) {?>
			<div><input type="hidden" name="gid" value="<?php echo $gid;?>"></div>
			<?php }?>
  			<div class="form-group">
    			<div class="col-sm-offset-2 col-sm-10">
      				<button type="submit" class="btn btn-default" id="sub">提交</button>
    			</div>
  			</div>
			</form>
		</div>
	</div><!-- end .row -->
	</div> <!-- end .container-fluid -->

	<script src="/static/core/js/common.js"></script>
	</body>
</html>
