<!doctype html>
<html>
	<head>
	<?php include('head.html');?>
		<link rel="stylesheet" type="text/css" href="/static/core/css/common.css">
		<link rel="stylesheet" type="text/css" href="/static/core/bootstrap-3.3.2-dist/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/static/graduation/admin/css/commend.css">
	</head>
	<body>
	<?php include('navbar.html');?>
	<div class="container-fluid">
	<div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li ><a href="<?=site_url('admin/commend');?>">添加表彰 </a></li>
            <li><a href="<?=site_url('admin/commend_list');?>">表彰列表</a></li>
            <li><a href="<?=site_url('admin/act_list');?>">活动列表</a></li>
            <li><a href="<?=site_url('admin/act');?>">添加活动</a></li>
            <li><a href="<?=site_url('admin/news_list');?>">新闻列表</a></li>
            <li class="active"><a href="<?=site_url('admin/news');?>">添加新闻<span class="sr-only">(current)</span></a></li>
            <li><a href="<?=site_url('admin/guestbook_list');?>">留言</a></li>
          </ul>
        </div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h3 class="page-header">添加新闻</h3>
			<form class="form-horizontal" enctype="multipart/form-data" action="<?=site_url('admin/add_news')?>" method="post" id="form1">
  				<div class="form-group">
    				<label for="inputName2" class="col-sm-2 control-label">头图</label>
    				<div class="col-sm-5">
						<input type="file" name="avatar"></input><br>
						<input type="hidden" name="avatar_def" id="avatar_def" value="<?php echo $img;?>"></input><br>
					</div>
				</div>
  			<div class="form-group">
    			<label for="inputName2" class="col-sm-2 control-label">新闻标题</label>
    			<div class="col-sm-4">
      				<input type="text" name="news_title" class="form-control" id="news_title" value="<?php echo isset($news_title) ? $news_title : ''?>">
				</div>
			</div>
  			<div class="form-group">
    			<label for="inputName2" class="col-sm-2 control-label">来源</label>
    			<div class="col-sm-10">
					<textarea class="form-control" name="news_source" rows="4" id="news_source"><?php echo isset($news_source) ? $news_source : ''?></textarea>
				</div>
			</div>
  			<div class="form-group">
    			<label for="inputName2" class="col-sm-2 control-label">新闻内容</label>
    			<div class="col-sm-10">
					<textarea class="form-control" name="news_info" rows="4" id="news_info" ><?php echo isset($news_info) ? $news_info : ''?></textarea>
				</div>
			</div>
			<div class="form-group">
    			<div class="col-sm-offset-2 col-sm-10">
      				<div class="checkbox" id="is_active">
					是否发布：
        				<label>
							<input type="radio" value="1" name = "is_active" <?php if ( isset($is_active) && $is_active == 1) echo 'checked';?> >
        				</label>
						是
        				<label>
							<input type="radio" value="0" name = "is_active" <?php if ( isset($is_active) && $is_active == 0) echo 'checked';?> >
        				</label>
						否
      				</div>
    			</div>
  			</div>
			<?php if (isset($nid)) {?>
			<div><input type="hidden" name="nid" value="<?php echo $nid;?>"></div>
			<?php }?>
  			<div class="form-group">
    			<div class="col-sm-offset-2 col-sm-10">
      				<button type="submit" class="btn btn-default" id="sub">提交</button>
    			</div>
  			</div>
			</form>
		</div>
	</div><!-- end .row -->
	</div> <!-- end .container-fluid -->

	<script src="/static/core/js/common.js"></script>
	<script src="/static/graduation/admin/js/news.js"></script>
	</body>
</html>
