<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>主题名字</title>
		<link rel="stylesheet" type="text/css" href="/static/core/bootstrap-3.3.2-dist/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/static/graduation/news/css/news.css">
	</head>
	<body>
	<?php include('navbar.html');?>


      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
		  	<h2 class="blog-post-title" align="center"><?php echo $name;?></h2>
            <p class="blog-post-meta" align="center"></p>
			<div style="text-indent:2em; margin-left:100px;"><?php echo $detail;?></div>

          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>网站标题</h4>
            <p>网站介绍</p>
          </div>
          <div class="sidebar-module">
            <h4>最新新闻</h4>
            <ol class="list-unstyled">
              <li><a href="#">新闻</a></li>
              <li><a href="#">新闻</a></li>
              <li><a href="#">新闻</a></li>
              <li><a href="#">新闻</a></li>
              <li><a href="#">新闻</a></li>
              <li><a href="#">新闻</a></li>
              <li><a href="#">新闻</a></li>
              <li><a href="#">新闻</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->


    <footer class="blog-footer">
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
	<script src="/static/core/jquery/jquery.min.js"></script>
	<script src="/static/core/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
	</body>
</html>
