<!doctype html>
<html>
	<head>
	<?php include('head.html');?>
		<link rel="stylesheet" type="text/css" href="/static/core/css/common.css">
		<link rel="stylesheet" type="text/css" href="/static/core/bootstrap-3.3.2-dist/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/static/graduation/guestbook/css/guestbook.css">
	</head>
	<body>
	<?php include('navbar.html');?>

      <div class="row">

        <div class="col-sm-8 blog-main">

		  <?php if (!empty($list)) {?>
          <div class="blog-post">
		  	<ul class="commentlist">
		  	<?php foreach ($list as $li) {?>
				<div class="comment">
				<li><?php echo $li['name'];?>|<?php echo date('Y-m-d H:i:s', $li['ctime']);?></li>
				<?php echo $li['text'];?>
				</div>
				<?php if (isset($li['reply']) && !empty($li['reply'])) {?>
				<div class="answer">
					<span>系统回复:</span> <?php echo $li['reply'];?>
				</div>
				<?php }?>
			<?php }?>
			</ul>
		  <div align="center">
		  <?php echo $page;?>
		  </div>
          </div><!-- /.blog-post -->
		  <?php }?>

          <div class="blog-post">
<form class="form-horizontal">
  <div class="form-group">
    <label for="inputName2" class="col-sm-2 control-label">name</label>
    <div class="col-sm-5">
      <input type="text" name="name" class="form-control" id="inputName2" placeholder="name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-5">
      <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">text</label>
    <div class="col-sm-10">
		<textarea class="form-control" name="content" rows="6" id="inputText" placeholder="Text"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">验证码</label>
    <div class="col-sm-10">
		<input type="text" class="input" id="code" maxlength="4" placeholder="验证码" /> <img src="<?php echo $code;?>" id="getcode_math" title="看不清，点击换一张" align="absmiddle"></p>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="button" class="btn btn-default" id="sub">提交</button>
    </div>
  </div>
</form>
          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

	<?php include('sidebar.html');?>
      </div><!-- /.row -->

	<script>
		var get_code = "<?php echo $code;?>";
		var add_url = "<?php echo $add;?>";
	</script>
	<script src="/static/core/js/common.js"></script>
	<script src="/static/graduation/guestbook/js/guestbook.js"></script>
	</body>
</html>
