<!DOCTYPE html>
<html>
	<head>
	<?php include('head.html');?>
		<link rel="stylesheet" type="text/css" href="/static/sign/insidersch/css/main-min.css">
		<script defer src="/static/sign/insidersch/js/main-min.js"></script>
	</head>
	<body>
		<div class="app">
			<div class="banner">
	<?php include('navbar.html');?>
			</div>
			<h1>活动日程</h1>
			<div>
				特别提示：
				<p>1、30日下午，我们为大家准备了丰富的参与形式，分别为“走进岛邻企业”和“正和岛新年运动会”，因两项活动并行，请您勾选其中一项。</p>
				<p>2、正和岛新年运动会“趣味运动嘉年华”与“竞技比赛”可同时选择参与。 “竞技秀场”中比赛项目只可单项选择。</p>
			</div>
			<form method="post" action="<?=site_url('sign/route_into') ?>">
				<ul>
					<li>
					<?php echo $route;?>
					</li>
				</ul>
				<div class="btn-group btn-group-justified">
				<div class="btn-group" role="group">
					<a href="<?=site_url('sign/basic') ?>" class="btn btn-green">上一步</a>
				</div>
					<div class="btn-group" role="group">
						<!--<button type="submit" class="btn btn-blue">下一步</button>-->
						<a href="<?=site_url('sign/invoice') ?>" class="btn btn-blue">下一步</a>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>
