<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="/static/sign/insiderdone/css/main-min.css">
		<script>
			var getVerCodeUrl = "";
			shareData = {
				img_url: "http://jiayan.zhisland.com/static/sign/core/img/jiayan.jpg",
				title: "未来，为___而来！2015正和岛新年家宴",
				link: "http://374964.m.weimob.com/weisite/home?pid=374964&bid=582046&wechatid=fromUsername",
				desc: "2015，正和岛与你一起，拥抱未知的未来"
			};
		</script>
		<script defer src="/static/sign/outsiderdone/js/main-min.js"></script>
	</head>
	<body>
		<div class="app">
			<div class="banner"></div>
			<h1 style="text-align:center;margin-bottom: 30px;font-size: 25px;">报名成功</h1>
			<div>感谢您的参与，我们期待您的到来。</div>
			<div class="tips">
				<p>行程变更及退款事宜请按照如下日期办理：</p>
				<p>12月24日18:00前通知您的服务经理,可获得全额退款；</p>
				<p>(12月24日18:00后不可申请退款)</p>
				<p>酒店预订的温馨提示：活动期间为云南旅游旺季，大会与昆明洲际酒店（活动所在酒店）商定岛邻协议价格（880元／间／天），请您拨打预定电话<a href="tel:087164094378">0871-64094378</a>/<a href="tel:087164094379">0871-64094379</a>/<a href="tel:087164064385">0871-64064385</a>（告知正和岛活动）</p>
			</div>
			<a href="/index.php/sign/confirm/view" style="display: block;text-align:center;text-decoration: underline;" >点击查看报名信息</a>
			<div class="btn-group btn-group-justified">
				<div class="btn-group" role="group">
					<button id="share-btn" class="btn btn-blue">分享给好友</button>
				</div>
			</div>
		</div>
	</body>
</html>
