<!doctype html>
<html>
	<head>
	<?php include('head.html');?>
		<link rel="stylesheet" type="text/css" href="/static/core/bootstrap-3.3.2-dist/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/static/graduation/news/css/news.css">
	</head>
	<body>
	<?php include('navbar.html');?>


      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <p class="blog-post-meta"></p>

		  <?php if (!empty($list)) {?>
			<ul>
		  		<?php foreach ($list as $li) {?>
				<li>
					<a href="<?php echo site_url('news/news_detail').'?nid='.$li['id'];?>"><?php echo $li['news_title'];?></a>
					<span><?php echo date('Y-m-d H:i:s', $li['ctime'])?></span>
				</li>
				<?php } ?>
			</ul>
		  <?php }?>
			<ul style="text-align: center;"><?php echo $page;?></ul>
          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

	<?php include('sidebar.html');?>

      </div><!-- /.row -->


    <footer class="blog-footer">
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
	<script src="/static/core/jquery/jquery.min.js"></script>
	<script src="/static/core/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
	</body>
</html>
