<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="/static/sign/outsiderdone/css/main-min.css">
		<script>
			shareData = {
				img_url: "http://jiayan.zhisland.com/static/sign/core/img/jiayan.jpg",
				title: "未来，为___而来！2015正和岛新年家宴",
				link: "http://374964.m.weimob.com/weisite/home?pid=374964&bid=582046&wechatid=fromUsername",
				desc: "2015，正和岛与你一起，拥抱未知的未来"
			};
		</script>
		<script defer src="/static/sign/outsiderdone/js/main-min.js"></script>
	</head>
	<body>
		<div class="app">
			<div class="banner"></div>
			<h1 style="text-align:center;margin-bottom: 30px;font-size: 25px;">报名成功</h1>
			<ol>
				<li>感谢您的参与，我们将根据您提交的个人信息予以审核，并在5个工作日内以确认短信的方式告知是否报名成功，并下发支付链接。</li>
				<li>参会费用：15000元／人,此费用为参会费，包含31日午餐和落地费用（会务用品、印刷品、接待费用）。酒店需自行预定并付费。）</li>
			</ol>
			<div class="tips">
				<p>行程变更及退款事宜请按照如下日期办理：</p>
				<p>12月24日18:00前通知您的服务经理,可获得全额退款；</p>
				<p>(12月24日18:00后不可申请退款)</p>
				<p>
				详情咨询电话：<a href="tel:4001009737">400-100-9737</a>
				</p>
			</div>
			<div class="btn-group btn-group-justified">
				<div class="btn-group" role="group">
					<button id="share-btn" class="btn btn-blue">分享给好友</button>
				</div>
			</div>
		</div>
	</body>
</html>
