<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="/static/sign/outsidersign/css/main-min.css">
		<script>
			var applyUrl = "<?=site_url('sign/register_into')?>";
		</script>
		<script defer src="/static/sign/outsidersign/js/main-min.js"></script>
	</head>
	<body>
		<div class="app">
			<div class="banner"></div>
			<div class="des">
				<p>
				温馨提示：此页面为“非岛亲”报名页，岛亲若跳转至此页，请返回重新填写登岛注册手机号，若需查询注册手机号码，请拨打<a href="tel:4001009737">400-100-9737</a>查询。
				</p>
				<p>
				非会员（非岛亲）请填写以下信息，组委会审核通过后将以短信及邮件的方式告知后续参会信息和缴费说明（参会费15，000元）
				</p>
			</div>
			<form id="reg_form" class="signup-form">
				<div class="input-group">
					<input type="text" id="name" name="name" class="form-control" placeholder="姓名">
				</div>
				<div class="input-group">
					<input type="text" id="mobile" name="mobile" class="form-control" placeholder="手机" value="<?php echo $mobile;?>" readonly>
				</div>
				<div class="input-group">
					<input type="text" id="email" name="email" class="form-control" placeholder="电子邮箱">
				</div>
				<div class="btn-group btn-group-justified">
					<div class="btn-group" role="group">
						<button type="submit" class="btn btn-blue" id="submit-btn">提交</button>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>
