<!doctype html>
<html>
	<head>
	<?php include('head.html');?>
		<link rel="stylesheet" type="text/css" href="/static/core/bootstrap-3.3.2-dist/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/static/graduation/news/css/news.css">
	</head>
	<body>
	<?php include('navbar.html');?>


      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <p class="blog-post-meta"></p>

			<table width="100%" border="0" cellspacing="0" cellpadding="0">
		  	<?php if (!empty($list)) {?>
		  		<?php foreach ($list as $li) {?>
				<tr>
					<td><a href="<?=site_url('sign').'?aid='.$li['id']?>"><?php echo $li['act_name'];?></a></td>
					<td><?php echo date('Y-m-d H:i:s', $li['ctime']);?></td>
				</tr>
				<?php } ?>
		  	<?php }?>
			</table>
          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

	<?php include('sidebar.html');?>
      </div><!-- /.row -->


    <footer class="blog-footer">
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
	<script src="/static/core/jquery/jquery.min.js"></script>
	<script src="/static/core/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
	</body>
</html>
